<div class="container">
  <h1 class='page-header'>Vendors</h1>

  <%= link_to 'Become a Seller', new_admin_vendor_path, class: "btn btn-primary" %>

  <div class="row voffset">
    <ol id='list'>
      <% @vendors.each do |vendor| %>
      <li><%= image_tag vendor.image, class: "img-rounded img-responsive", alt: "image" %></li>
      <li><%= link_to vendor.name, vendor_path(@vendor) %></li>
      <% end %>
    </ol>
  </div>

</div>
