<h1>Vendors</h1>
<button id="button"><%= link_to "Add new vendor", new_vendor_path %></button>

<ul id='list'>
  <% @vendors.each do |vendor| %>
  <li><%= link_to vendor.name, vendor_path(vendor) %></li>
  <% end %>
</ul>
