<h2 class="page-header">Add New Product or Bulk Upload</h3>

<div class="class form-horizontal">
  <h3>Bulk Upload Products</h3>
  <%= form_tag import_admin_vendor_products_path(@vendor), multipart: true do %>

  <%= file_field_tag :file %>

  <%= submit_tag "Import CSV", class: "btn btn-primary" %>
  <% end %>

  <%= render 'form' %>
</div>
