/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require 'masonry/basic'
 *= require 'masonry/infinitescroll'
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('http://getbootstrap.com/dist/css/bootstrap.css');

body {
  background-color: #EBEFEE;
}

.voffset {
  margin-top: 3.5em;
}

.voffset2 {
  margin-top: 5em;
}

@media (min-width: 768px ) {
  .row {
      position: relative;
  }

  .bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
  }
}

/* General style */
.grid-gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-gallery figure {
  margin: 0;
}

/* Grid style */
.grid-wrap {
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1em 1.875em;
}

.grid {
  margin: 0 auto;
}

.grid li {
  width: 25%;
  float: left;
  cursor: pointer;
}

.grid figure {
  padding: 15px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.grid li:hover figure {
  opacity: 0.7;
}

@media screen and (max-width: 60em) {
  /* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
  .grid li {
    width: 33.3%;
  }

@media screen and (max-width: 35em) {
  .grid li {
    width: 50%;
  }
}

@media screen and (max-width: 24em) {
  .grid li {
    width: 100%;
  }
}

.btn-autosize {
  width: 25%;
}

@media screen and (max-width: 60em) {
  /* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
  .btn-autosize {
    width: 33.3%;
  }

@media screen and (max-width: 35em) {
  .btn-autosize {
    width: 50%;
  }
}

@media screen and (max-width: 24em) {
  .btn-autosize {
    width: 100%;
  }
}
