/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .product{
 	border: 1px solid #dddddd;
 	height: 321px;
 }

 .product>img{
 	max-width: 230px;
 }

 .product-rating{
 	font-size: 20px;
 	margin-bottom: 25px;
 }

 .product-title{
 	font-size: 20px;
 }

 .product-desc{
 	font-size: 14px;
 }

 .product-price{
 	font-size: 22px;
   color: red;
 }

 .product-stock{
 	color: #74DF00;
 	font-size: 20px;
 	margin-top: 10px;
 }

 .product-info{
 		margin-top: 50px;
 }

 .service-image-left {
 	padding-right: 50px;
 }

#yield {
  margin-top: 3.5em;
}
