.box {
  width: 355px;
  background-color: #fff;
}

.small {
  width: 196px;
  padding: 5px;
  background-color: #fff;
}

.image_panel {
  display: inline-block;
}

.show_panel {
  background-color: #fff;
  border-radius: 5px;
}

.product-stock {
  font-style: italic;
  color: orange;
}
