<h1>
  Products
  <div class="btn-group">
    <%= link_to 'Add new product', new_product_path, :class => 'btn' %>
  </div>
</h1>

<div class="row center-block">
  <div class="col-xs-8 col-md-8 col-md-offset-2 col-xs-offset-2">

    <% @products.each do |product| %>

    <div class="">
      <h3><%= product.name %></h3>
      <%= link_to product_path(product) do %>
        <%= image_tag product.image.url, class: "img-rounded img-responsive" %>
      <% end %>
    </div>

    <% end %>
  </div>
</div>
