<h1>
  Products
  <div class="btn-group">
    <%= link_to 'Add new product', new_product_path, :class => 'btn' %>
  </div>
</h1>

<table class="table table-striped table-hover">

  <% @products.each do |product| %>
  <tr>
    <td>
      <%= link_to product.name, product_path(product) %>
    </td>
  </tr>
  <% end %>
</table>
