
<h1 class="page-header">New Product</h1>

<div class="class form-horizontal">
  <h3>Bulk Import Products</h3>
  <%= form_tag import_products_path, multipart: true do %>

  <%= file_field_tag :file %>

  <%= submit_tag "Import CSV", class: "btn btn-primary" %>
  <% end %>

  <%= render 'form' %>
</div>
