<div class="container">
  <h1>New Product</h1>
</div>
<div class="class form-horizontal">
  <h3>Import Products</h3>
  <%= form_tag import_products_path, multipart: true do %>

  <%= file_field_tag :file %>

  <%= submit_tag "Import CSV", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="container">
  <%= render 'form' %>
</div>
